<structure out="src/scss/components/c-%name%">
  <file name="_c-%name%.scss">
    // %capName%
    //
    // Markup: c-%name%-styleguide.twig
    //
    // Styleguide Components.%capName%
  
    .c-%name% {
      display: block;
    }
  </file>

  <file name="c-%name%-styleguide.twig">
    {% include "c-%name%.twig" with {} only %}
  </file>

  <file name="c-%name%.twig">
    <div class="c-%name%">
      %capName% Component
    </div>
  </file>

  <script>
    const {getVariable, passVariable} = Structure;
    const name = getVariable('name');

    const capName = name.split('-').map(x => x.charAt(0).toUpperCase() + x.slice(1)).join('');

    setVariable('capName', capName);
  </script>
</structure>
