<structure out="src/components/%capName%">
  <file name="%capName%.jsx">
    import React from 'react';
    import cx from 'classnames';

    import './%capName%.scss';

    const %capName% = ({
      ...otherProps
    }) => (
      <fragment></fragment>
    );

    export default %capName%;

  </file>

  <file name="%capName%.scss">
    // %capName%
    // --------------

    .%capName% {
      // do your stuff
    }
  </file>

  <file name="%capName%.stories.jsx">
      import React from 'react';
      import { storiesOf } from '@storybook/react';

      import %capName%, {} from './%capName%';

      const %capName%Demo = () => (
        <fragment></fragment>
      );

      storiesOf('%capName%', module)

  </file>

  <file name="%capName%.test.jsx">
      import React from 'react';
      import { shallow } from 'enzyme';

      import %capName% from './%capName%';

      it('renders correctly', () => {
        const wrapper = shallow(<%capName%>Hello world</%capName%>);

        expect(wrapper).toMatchSnapshot();
      });

  </file>

  <file name="index.js">
    import %capName% from './%capName%';

    export default %capName%;

  </file>

  <script>
    const {getVariable, passVariable} = Structure;
    const name = getVariable('name');

    const capName = name
      .split('-')
      .map(x => x.charAt(0).toUpperCase() + x.slice(1))
      .join('');

    passVariable('capName', capName);
  </script>

</structure>