<structure out="test">
  <file name="%name%.js">
    // This is a js file.
    function %name%Func() {
      return "test ok"
    }
  </file>
  <file name="%name%.css">
    /* This is a css file */
    .%name%Class {
      // your css props
    }
  </file>

  <file name="%name%.html">
    <!-- This is an html file. I hope that will be included in output. -->
    <div class="%name%Class" onload="%name%Func();">
      <h1>Hello world. This is an html file that includes test content.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab mollitia quis voluptatum molestiae, animi molestias aut. Cum dignissimos maxime minima tempora. Asperiores dolor ipsam modi aliquid ea nobis blanditiis sint?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo officiis odit harum, reiciendis qui quo ad commodi. Mollitia quos saepe voluptas, aut ipsum molestias reprehenderit expedita. Fuga neque quasi corporis.</p>
      <img src="%name%.png" alt="%name%">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores officia magni error earum sequi, optio voluptatem amet corporis impedit quo quidem voluptate accusamus laudantium sint quibusdam inventore nobis minima illum?</p>
    </div>
  </file>

  <file name="README.md">
    ## Read Me
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, culpa beatae eius porro voluptatibus illo. Alias, minima quaerat repellat, qui doloribus non, tenetur in deserunt inventore itaque et sapiente a.
    Test
    ---
    Test here
  </file>

  <file name="%capName%.ts">
    import React from 'react';

    const %capName%Component = () => {
      return (
        <OtherComponent paramOne={variableOne} paramTwo={(variableTwo) => variableThree} />
      )
    }

    export default %capName%Component;
  </file>

  <script>
    const {name, getVariable, setVariable} = Structure;
    const capName = name.split('-').map(x => x.charAt(0).toUpperCase() + x.slice(1)).join('');

    // Now you can use this variable in your
    // templates or filenames.
    setVariable('capName', capName);
  </script>
</structure>